<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cardprint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cardprint.Properties.Settings>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintResolution" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ViewSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LayoutPath" serializeAs="String">
                <value>C:\temp\Layouts</value>
            </setting>
            <setting name="PrinterOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
        </Cardprint.Properties.Settings>
    </userSettings>
</configuration>